5.1b: Practice Project, GDP data extraction and processing

In [1]:
import pandas as pd

In [3]:
gdpURL = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [85]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
allPageDFs = pd.read_html(gdpURL)
gdpDF = allPageDFs[3]

# Replace the column headers with column numbers
gdpDF.columns = range(gdpDF.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
gdpDF = gdpDF[[0, 2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
gdpDF = gdpDF.iloc[1:11]

# Assign column names as "Country" and "GDP (Million USD)"
gdpDF.columns = ["Country", "GDP (Million USD)"]

In [86]:
gdpDF

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [87]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
gdpDF["GDP (Million USD)"] = gdpDF["GDP (Million USD)"].astype(int)

# Convert the GDP value in Million USD to Billion USD
# Use numpy.round() method to round the value to 2 decimal places.
gdpDF["GDP (Million USD)"] = gdpDF["GDP (Million USD)"].apply(lambda gdpMillions : round(gdpMillions / 1000, 2))

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
gdpDF = gdpDF.rename(columns={"GDP (Million USD)": "GDP (Billion USD)"})

In [88]:
gdpDF

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [89]:
gdpDF.to_csv("1b_largest_economies.csv")