5.2c: Web Scraping

In [2]:
from bs4 import BeautifulSoup
import requests

In [2]:
html = "<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3>\
<b id='boldest'>Lebron James</b></h3><p> Salary: $92,000,000 </p>\
<h3>Stephen Curry</h3><p> Salary: $85,000,000</p>\
<h3>Kevin Durant</h3><p> Salary: $73,200,000</p></body></html>"

In [5]:
soup = BeautifulSoup(html, "html5lib")

In [16]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000,000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200,000
  </p>
 </body>
</html>

In [17]:
titleTag = soup.title
print(titleTag)

<title>Page Title</title>

In [18]:
print(type(titleTag))

<class 'bs4.element.Tag'>

In [19]:
mostPaidPlayerHeading = soup.h3
mostPaidPlayerHeading

In [20]:
mostPaidPlayerText = mostPaidPlayerHeading.b
mostPaidPlayerText

In [21]:
mostPaidPlayerText.parent

In [22]:
sibling1 = mostPaidPlayerHeading.next_sibling
sibling1

In [24]:
sibling2 = sibling1.next_sibling
sibling2

In [26]:
stephenSalaryText = sibling2.next_sibling
stephenSalaryText

In [27]:
mostPaidPlayerText["id"]

'boldest'

In [28]:
mostPaidPlayerText.attrs

{'id': 'boldest'}

In [29]:
mostPaidPlayerText.get("id")

'boldest'

In [30]:
mostPaidPlayer = mostPaidPlayerText.string
mostPaidPlayer

'Lebron James'

In [31]:
type(mostPaidPlayer)

bs4.element.NavigableString

In [32]:
mostPaidPlayerStr = str(mostPaidPlayer)
mostPaidPlayerStr

'Lebron James'

In [9]:
table = "<table><tr><td id='flight'>Flight No</td><td>Launch site</td> \
<td>Payload mass</td></tr><tr> <td>1</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td> \
<td>300 kg</td></tr><tr><td>2</td> \
<td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td> \
<td>94 kg</td></tr><tr><td>3</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td> \
<td>80 kg</td></tr></table>"

In [10]:
tableSoup = BeautifulSoup(table, "html5lib")

In [36]:
tableRows = tableSoup.find_all("tr")
tableRows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>,
 <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>,
 <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>]

In [37]:
firstRow = tableRows[0]
firstRow

In [39]:
print(type(firstRow))

<class 'bs4.element.Tag'>

In [40]:
firstRow.td

In [41]:
for thisRow in tableRows:
    print(thisRow)

<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
<tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>
<tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>
<tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>

In [50]:
for rowIndex, thisRow in enumerate(tableRows):
    print(f'Row {rowIndex}')
    cells = thisRow.find_all("td")
    for thisCell in cells:
        print(thisCell)

Row 0
<td id="flight">Flight No</td>
<td>Launch site</td>
<td>Payload mass</td>
Row 1
<td>1</td>
<td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
<td>300 kg</td>
Row 2
<td>2</td>
<td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
<td>94 kg</td>
Row 3
<td>3</td>
<td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
<td>80 kg</td>

In [55]:
tableSoup.find_all(["tr", "td"])

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

In [52]:
tableSoup.find_all(id="flight")

In [59]:
tableSoup.find_all("a", href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [60]:
tableSoup.find_all("a", href=False)

In [7]:
soup.find_all(id="boldest")

In [11]:
tableSoup.find_all(string="Florida")

['Florida', 'Florida']

In [12]:
twoTables = "<h3>Rocket Launch </h3> \
<p><table class='rocket'> \
<tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> \
<tr><td>1</td><td>Florida</td><td>300 kg</td></tr> \
<tr><td>2</td><td>Texas</td><td>94 kg</td></tr> \
<tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p>\
<p><h3>Pizza Party</h3> \
<table class='pizza'> \
<tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> \
<tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> \
<tr><td>Little Caesars</td><td>12</td><td >144 </td></tr> \
<tr><td>Papa John's</td><td>15 </td><td>165</td></tr>"

In [13]:
twoTablesSoup = BeautifulSoup(twoTables, "html.parser")

In [14]:
twoTablesSoup.find("table")

<table class="rocket"> <tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> <tr><td>1</td><td>Florida</td><td>300 kg</td></tr> <tr><td>2</td><td>Texas</td><td>94 kg</td></tr> <tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [15]:
twoTablesSoup.find("table", class_="pizza")

<table class="pizza"> <tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> <tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> <tr><td>Little Caesars</td><td>12</td><td>144 </td></tr> <tr><td>Papa John's</td><td>15 </td><td>165</td></tr></table>

In [23]:
ibmURL = "http://www.ibm.com"
ibmData = requests.get(ibmURL).text

In [35]:
ibmSoup = BeautifulSoup(ibmData, "html5lib")

In [31]:
for link in ibmSoup.find_all("a", href=True):
    print(link.get("href"))

https://www.ibm.com/cloud?lnk=hpUSbt1

In [37]:
for link in ibmSoup.find_all("img"):
    print(link)
    print(link.get("src"))

# The above two cells don't seem to find much due to the nature of the ibm website

In [3]:
colorsURL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
colorsData = requests.get(colorsURL).text
colorsSoup = BeautifulSoup(colorsData, "html5lib")

In [56]:
colorsTable = colorsSoup.find("table")

In [57]:
for thisRow in colorsTable.find_all("tr"):
    cols = thisRow.find_all("td")
    colorName = cols[2].string
    colorCode = cols[3].text
    print(f'{colorName}--->{colorCode}')

Color Name--->Hex Code#RRGGBB
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

In [4]:
import pandas as pd

colorsTables = pd.read_html(colorsURL)
colorsTables[0]

         0      1               2                 3                     4
0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
2        2    NaN          salmon           #FA8072      rgb(250,128,114)
3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
5        5    NaN           coral           #FF7F50       rgb(255,127,80)
6        6    NaN          tomato           #FF6347        rgb(255,99,71)
7        7    NaN       orangered           #FF4500         rgb(255,69,0)
8        8    NaN            gold           #FFD700        rgb(255,215,0)
9        9    NaN          orange           #FFA500        rgb(255,165,0)
10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
23      23    NaN            lime           #00FF00          rgb(0.255.0)
24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
25      25    NaN           green           #008000          rgb(0,128,0)
26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)